# Env
NODE_ENV=development

# Server
SERVER_HOST=http://localhost:5001
SERVER_PORT=5001

# Cors
CORS_ORIGIN=http://localhost:3000

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=http://localhost:3000

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USERNAME=tanstack-kit
DATABASE_PASSWORD=123456789
DATABASE_NAME=test

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""